*{
    font-family: Arial, sans-serif;
    font-size: 16px;
}
body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
main{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: auto;
}